<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Countries</title>

    <script src="lib/jquery-1.10.2.js"></script>
    <script src="lib/jquery-ui-1.10.4.custom.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/sortable.js"></script>
    <script src="app/js/app.js"></script>
    <link rel="stylesheet" href="app/style/css/app.css" />
    <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/js/bootstrap.min.js" />
    <script src="app/js/controller/CountriesController.js"></script>
    <script src="app/js/filter/weDontLike.js"></script>
    <script src="app/js/filter/expandedFirst.js"></script>

</head>

<body ng-app="countries-app">

    <span ng-controller="CountriesController">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="navbar-nav">
                    <li>
                        Countries
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>
                        {{ date | date:'dd/MM/yyyy HH:mm'}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="container-wrapper">
                <div class="center">
                    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
                </div>

                <div class="center">
                    <h4>
                        <span class="line-through">Cute</span>
                        <span class="line-through">Nice</span>
                        Lousy example with countries
                    </h4>
                    <img src="app/style/images/gaaay.jpg" style="width: 7%; height: 7%">
                </div>

                <ul ui-sortable="sortableOptions" ng-model="countries" class="sortable">
                    <li ng-repeat="country in countries">

                        <span>
                            <div class="row">
                                <span class="pointer-cursor glyphicon"
                                      ng-class="country.isShown ? 'glyphicon-minus-sign' : 'glyphicon-plus-sign'"
                                      ng-click="country.isShown = !country.isShown">
                                 </span>
                                <img ng-src="{{ICONS_PATH + country.flagImage}}" height="25" width="25" />
                                {{country.name}}
                            </div>

                            <span ng-show="country.isShown" class="oval-thought-border">
                                <div class="row">
                                    <div class="span3">
                                        <b>Capital:</b> &nbsp;
                                        {{country.capitalCity}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3">
                                        <b>Currency:</b> &nbsp
                                        {{country.currency}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span3">
                                        <b>Stereotype:</b> &nbsp;
                                        {{country.stereotype}}
                                    </div>
                                </div>
                            </span>

                        </span>

                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </span>
</body>

</html>